<div class="form-group">
  <div [hidden]="submitted">
    <h1>Actor Form</h1>
    <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
      {{ model | json }}
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
          minlength="4"
          appForbiddenName="bobby"
          [(ngModel)]="model.name"
          #name="ngModel"
        />
        @if (name.invalid && (name.dirty || name.touched)) {
        <div class="alert">
          @if (name.hasError('required')) {
          <div>Name is required.</div>
          } @if (name.hasError('minlength')) {
          <div>Name must be at least 4 characters long.</div>
          } @if (name.hasError('forbiddenName')) {
          <div>Name cannot be Bob.</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="studio">Studio</label>
        <input
          type="text"
          class="form-control"
          id="studio"
          [(ngModel)]="model.studio"
          name="studio"
        />
      </div>
      <div class="form-group">
        <label for="skill">Skill</label>
        <select
          class="form-control"
          id="skill"
          required
          [(ngModel)]="model.skill"
          name="skill"
        >
          @for (skill of skills; track $index) {
          <option [value]="skill">{{ skill }}</option>
          }
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!actorForm.form.valid"
      >
        Submit
      </button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Studio</div>
      <div class="col-xs-9">{{ model.studio }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Skill</div>
      <div class="col-xs-9">{{ model.skill }}</div>
    </div>
    <br />
    <button type="button" class="btn btn-primary" (click)="submitted = false">
      Edit
    </button>
  </div>
  <button
    type="button"
    class="btn btn-default"
    (click)="newActor(); actorForm.reset()"
  >
    New Actor
  </button>
  <p>{{ model.name }}</p>
</div>
